<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>&#129299;Paola Sabatini</title>
        <link rel="stylesheet" href="/stylesheet2.css">
        <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    </head>
    <body>


        {{{ body }}}



        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="dist/bundle.js"></script>
        <script src="db.js" charset="utf-8"></script>
        <script src="anime.min.js"></script>
        <script src="animation.js" charset="utf-8"></script>

    </body>

</html>
