<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>&#129299;Paola Sabatini</title>
        <link rel="stylesheet" href="/stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Paola Sabatini</h1>

            <div class="menu">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>

            </div>
        </header>

        <section>
            <div class="container">
                {{{ body }}}
            </div>
        </section>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="anime.min.js"></script>
    <script src="/style.js" charset="utf-8"></script>
    <script src="db.js" charset="utf-8"></script>

    </body>
</html>
