<div class="wrapabout">

        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>
        <div class="backabout"></div>

    <div id="about">
        <h2>Paola Sabatini Silveira</h2>
        <p>Web Developer</p>
    </div>

</div>
