<div class="projectcont">
    <div class="projectspic" id="conectfour">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Conect Four</p>
    </div>
</div>
    <div class="projectcont">
    <div class="projectspic" id="socialnetwork">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Social Network</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="petition">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Petition</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="imageboard">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Image Board</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="spotify">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Spotify Search</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="githubapi">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Github API</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="more">
        <img class="picproject" src="">
    </div>
    <div class="projects" >
        <p>And more...</p>
    </div>
</div>
