<div class="projects">
    <p>Conect Four</p>
</div>
<div class="projects">
    <p>Social Network</p>
</div>
<div class="projects">
    <p>Petition</p>
</div>
<div class="projects">
    <p>Image Board</p>
</div>
<div class="projects">
    <p>Spotify Search</p>
</div>
<div class="projects">
    <p>Github API</p>
</div>
<div class="projects">
    <p>Canvas</p>
</div>
