<div class="projectcont">
    <div class="projectspic" id="conectfour">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Conect Four</p>
        <div class="wrapproject">
        <div class="dataproject">
            <div class="itm">
                <p>execution time:</p>
                <p>2 days</p>
            </div>
            <div class="itm">
                <p>tecnologies:</p>
                <p>CSS, JavaScript, jQuery</p>
            </div>
        </div>
        <div class="description">
            <p>description:</p>
            <p>In this game players take turns dropping their pieces into one of seven columns that have six rows of slots. The first player to get their pieces into four slots that are vertically, horizontally, or diagonally contiguous wins the game.</p>
        </div>
    </div>
    </div>
</div>
    <div class="projectcont">
    <div class="projectspic" id="socialnetwork">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Social Network</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="petition">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Petition</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="imageboard">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Image Board</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="spotify">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Spotify Search</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="githubapi">
        <img class="picproject" src="">
    </div>
    <div class="projects">
        <p>Github API</p>
    </div>
</div>
<div class="projectcont">
    <div class="projectspic" id="more">
        <img class="picproject" src="">
    </div>
    <div class="projects" >
        <p>And more...</p>
    </div>
</div>
