<section id="thanks">


<svg version="1.1" id="svgtks" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 2090 1080" style="enable-background:new 0 0 2090 1080;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#dfdfdf;stroke:#FFFFFF;stroke-miterlimit:10;}
</style>
<g>
	<path class="st0" d="M75.73,910.48c-5.24,7.83-9.4,16.68-12.63,26.28c-3.9,11.25-5.78,22.11-5.78,32.73
		c0,10.49,1.88,21.35,5.78,32.73c3.22,9.6,7.39,18.32,12.63,26.28h-3.76c-5.11-8.09-9.14-16.81-12.36-26.28
		c-3.76-11.37-5.51-22.24-5.51-32.73c0-10.61,1.75-21.48,5.51-32.73c3.22-9.6,7.25-18.32,12.36-26.28H75.73z"/>
	<path class="st0" d="M147.33,910.48c4.97,7.96,9.14,16.68,12.36,26.28c3.63,11.25,5.51,22.11,5.51,32.73
		c0,10.49-1.88,21.35-5.51,32.73c-3.22,9.48-7.39,18.2-12.36,26.28h-3.76c5.11-7.96,9.4-16.68,12.63-26.28
		c3.76-11.37,5.78-22.24,5.78-32.73c0-10.61-2.02-21.48-5.78-32.73c-3.22-9.6-7.52-18.45-12.63-26.28H147.33z"/>
	<path class="st0" d="M296.05,967.97V971h-67.85v-3.03H296.05z M296.05,993.5v3.03h-67.85v-3.03H296.05z"/>
	<path class="st0" d="M377.33,980.48v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L377.33,980.48z"/>
	<path class="st0" d="M468.55,910.48v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97v-29.95c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H468.55z"/>
	<path class="st0" d="M530.08,910.48c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.69c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H530.08z"/>
</g>
<g>
	<path class="st0" d="M1285.28,781.41v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.7c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		s-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04c4.97,0,8.46-1.14,10.61-3.29
		c1.75-1.9,2.69-4.93,2.69-8.97V796.2c0-4.67,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92H1285.28z"/>
	<path class="st0" d="M1330.02,781.41v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.7c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		s-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04c4.97,0,8.46-1.14,10.61-3.29
		c1.75-1.9,2.69-4.93,2.69-8.97V796.2c0-4.67,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92H1330.02z"/>
	<path class="st0" d="M1391.54,781.41c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.01,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.7c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1391.54z"/>
	<path class="st0" d="M1436.28,781.41c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.01,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.7c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1436.28z"/>
</g>
<g>
	<path class="st0" d="M1499.83,341.01c-5.24,7.83-9.41,16.68-12.63,26.28c-3.9,11.25-5.78,22.11-5.78,32.73
		c0,10.49,1.88,21.35,5.78,32.73c3.22,9.6,7.39,18.32,12.63,26.28h-3.76c-5.11-8.09-9.14-16.81-12.36-26.28
		c-3.76-11.37-5.51-22.24-5.51-32.73c0-10.61,1.75-21.48,5.51-32.73c3.22-9.6,7.26-18.32,12.36-26.28H1499.83z"/>
	<path class="st0" d="M1571.44,341.01c4.97,7.96,9.14,16.68,12.36,26.28c3.63,11.25,5.51,22.11,5.51,32.73
		c0,10.49-1.88,21.35-5.51,32.73c-3.22,9.48-7.39,18.2-12.36,26.28h-3.76c5.11-7.96,9.4-16.68,12.63-26.28
		c3.76-11.37,5.78-22.24,5.78-32.73c0-10.61-2.02-21.48-5.78-32.73c-3.22-9.6-7.52-18.45-12.63-26.28H1571.44z"/>
	<path class="st0" d="M1720.16,398.51v3.03h-67.85v-3.03H1720.16z M1720.16,424.03v3.03h-67.85v-3.03H1720.16z"/>
	<path class="st0" d="M1801.44,411.02v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L1801.44,411.02z"/>
	<path class="st0" d="M1892.66,341.01v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29V398
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97V355.8c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H1892.66z"/>
	<path class="st0" d="M1954.18,341.01c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.32,3.92-10.61,3.92h-6.85V456h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53V355.8c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1954.18z"/>
</g>
<g>
	<path class="st0" d="M1713.18,809.46l-64.22,28.43l64.22,28.43v3.41l-67.85-30.07v-3.54l67.85-30.07V809.46z"/>
</g>
<g>
	<path class="st0" d="M404.33,129.29v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L404.33,129.29z"/>
</g>
<g>
	<path class="st0" d="M105.81,323.58v3.03H37.96v-3.03H105.81z M105.81,349.11v3.03H37.96v-3.03H105.81z"/>
</g>
<g>
	<path class="st0" d="M1617.51,19.95v3.03h-67.85v-3.03H1617.51z M1617.51,45.47v3.03h-67.85v-3.03H1617.51z"/>
</g>
<g>
	<path class="st0" d="M862.01,778.71c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91s-1.88,1.26-3.09,1.26
		c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91c0.81-0.88,1.75-1.26,3.09-1.26
		C860.13,777.44,861.21,777.82,862.01,778.71z M862.01,824.95c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91
		s-1.88,1.26-3.09,1.26c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91
		c0.81-0.88,1.75-1.26,3.09-1.26C860.13,823.69,861.21,824.07,862.01,824.95z"/>
</g>
<g>
	<path class="st0" d="M1907.91,131.28c0.81,1.26,1.21,3.29,1.21,5.81c0,3.79-1.21,7.2-3.63,9.98c-2.42,2.78-5.51,4.42-9.14,5.18
		v-2.91c3.22-1.01,5.64-2.53,7.26-4.68c1.34-2.02,2.15-4.42,2.15-7.46c-0.4,0.13-1.21,0.25-2.42,0.25c-1.21,0-2.28-0.51-3.09-1.26
		c-0.94-0.88-1.34-1.9-1.34-2.91c0-1.52,0.4-2.53,1.21-3.29c0.67-0.76,1.75-1.01,3.36-1.01
		C1905.36,129.01,1906.84,129.76,1907.91,131.28z M1906.84,83.77c0.67,0.63,1.07,1.64,1.07,3.16c0,1.39-0.4,2.4-1.07,3.16
		c-0.81,0.63-1.88,1.01-3.36,1.01c-1.61,0-2.69-0.38-3.36-1.01c-0.81-0.76-1.08-1.77-1.08-3.16c0-1.52,0.27-2.53,1.08-3.16
		c0.67-0.76,1.75-1.01,3.36-1.01C1904.96,82.76,1906.03,83.01,1906.84,83.77z"/>
</g>
<g>
	<path class="st0" d="M89.1,229.37c0.81,1.26,1.21,3.29,1.21,5.81c0,3.79-1.21,7.2-3.63,9.98c-2.42,2.78-5.51,4.42-9.14,5.18v-2.91
		c3.22-1.01,5.64-2.53,7.25-4.68c1.34-2.02,2.15-4.42,2.15-7.46c-0.4,0.13-1.21,0.25-2.42,0.25s-2.28-0.51-3.09-1.26
		c-0.94-0.88-1.34-1.9-1.34-2.91c0-1.52,0.4-2.53,1.21-3.29c0.67-0.76,1.75-1.01,3.36-1.01C86.54,227.09,88.02,227.85,89.1,229.37z
		 M88.02,181.86c0.67,0.63,1.07,1.64,1.07,3.16c0,1.39-0.4,2.4-1.07,3.16c-0.81,0.63-1.88,1.01-3.36,1.01
		c-1.61,0-2.69-0.38-3.36-1.01c-0.81-0.76-1.07-1.77-1.07-3.16c0-1.52,0.27-2.53,1.07-3.16c0.67-0.76,1.75-1.01,3.36-1.01
		C86.14,180.84,87.22,181.1,88.02,181.86z"/>
</g>
<g>
	<path class="st0" d="M1039.42,34.85c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91c-0.81,0.76-1.88,1.26-3.09,1.26
		c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91c0.81-0.88,1.75-1.26,3.09-1.26
		C1037.54,33.59,1038.62,33.97,1039.42,34.85z M1039.42,81.1c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91
		c-0.81,0.76-1.88,1.26-3.09,1.26c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91
		c0.81-0.88,1.75-1.26,3.09-1.26C1037.54,79.83,1038.62,80.21,1039.42,81.1z"/>
</g>
<g>
	<path class="st0" d="M39.77,588.07v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97v-29.95c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H39.77z"/>
	<path class="st0" d="M84.5,588.07v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97v-29.95c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H84.5z"/>
	<path class="st0" d="M146.03,588.07c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.69c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H146.03z"/>
	<path class="st0" d="M190.77,588.07c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.69c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H190.77z"/>
</g>
<g>
	<path class="st0" d="M1846.09,934.19v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97v-29.95c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H1846.09z"/>
	<path class="st0" d="M1890.83,934.19v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97v-29.95c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H1890.83z"/>
	<path class="st0" d="M1952.36,934.19c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.32,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.69c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1952.36z"/>
	<path class="st0" d="M1997.09,934.19c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.32,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.69c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1997.09z"/>
</g>
<g>
	<path class="st0" d="M1898.42,577.98c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91c-0.81,0.76-1.88,1.26-3.09,1.26
		c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91c0.81-0.88,1.75-1.26,3.09-1.26
		C1896.54,576.71,1897.62,577.09,1898.42,577.98z M1898.42,624.23c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91
		c-0.81,0.76-1.88,1.26-3.09,1.26c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91
		c0.81-0.88,1.75-1.26,3.09-1.26C1896.54,622.96,1897.62,623.34,1898.42,624.23z"/>
</g>
<g>
	<path class="st0" d="M1245.26,1030.83v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L1245.26,1030.83z"/>
</g>
<g>
	<path class="st0" d="M1320.32,154.54v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L1320.32,154.54z"/>
</g>
<g>
	<path class="st0" d="M1533.67,992.83c0.81,1.26,1.21,3.29,1.21,5.81c0,3.79-1.21,7.2-3.63,9.98c-2.42,2.78-5.51,4.42-9.14,5.18
		v-2.91c3.22-1.01,5.64-2.53,7.26-4.67c1.34-2.02,2.15-4.42,2.15-7.46c-0.4,0.13-1.21,0.25-2.42,0.25c-1.21,0-2.28-0.5-3.09-1.26
		c-0.94-0.88-1.34-1.89-1.34-2.91c0-1.52,0.4-2.53,1.21-3.29c0.67-0.76,1.75-1.01,3.36-1.01
		C1531.12,990.56,1532.59,991.31,1533.67,992.83z M1532.59,945.32c0.67,0.63,1.07,1.64,1.07,3.16c0,1.39-0.4,2.4-1.07,3.16
		c-0.81,0.63-1.88,1.01-3.36,1.01c-1.61,0-2.69-0.38-3.36-1.01c-0.81-0.76-1.08-1.77-1.08-3.16c0-1.52,0.27-2.53,1.08-3.16
		c0.67-0.76,1.75-1.01,3.36-1.01C1530.71,944.31,1531.79,944.56,1532.59,945.32z"/>
</g>
<g>
	<path class="st0" d="M649.94,973.68c0.81,1.26,1.21,3.29,1.21,5.81c0,3.79-1.21,7.2-3.63,9.98c-2.42,2.78-5.51,4.42-9.14,5.18
		v-2.91c3.22-1.01,5.64-2.53,7.25-4.67c1.34-2.02,2.15-4.42,2.15-7.46c-0.4,0.13-1.21,0.25-2.42,0.25s-2.28-0.5-3.09-1.26
		c-0.94-0.88-1.34-1.89-1.34-2.91c0-1.52,0.4-2.53,1.21-3.29c0.67-0.76,1.75-1.01,3.36-1.01
		C647.39,971.41,648.87,972.17,649.94,973.68z M648.87,926.17c0.67,0.63,1.07,1.64,1.07,3.16c0,1.39-0.4,2.4-1.07,3.16
		c-0.81,0.63-1.88,1.01-3.36,1.01c-1.61,0-2.69-0.38-3.36-1.01c-0.81-0.76-1.07-1.77-1.07-3.16c0-1.52,0.27-2.53,1.07-3.16
		c0.67-0.76,1.75-1.01,3.36-1.01C646.99,925.16,648.06,925.42,648.87,926.17z"/>
</g>
<g>
	<path class="st0" d="M310.64,256.89l-64.22,28.43l64.22,28.43v3.41l-67.85-30.07v-3.54l67.85-30.07V256.89z"/>
</g>
<g>
	<path class="st0" d="M204.68,448.12c0.81,1.26,1.21,3.29,1.21,5.81c0,3.79-1.21,7.2-3.63,9.98c-2.42,2.78-5.51,4.42-9.14,5.18
		v-2.91c3.22-1.01,5.64-2.53,7.25-4.67c1.34-2.02,2.15-4.42,2.15-7.46c-0.4,0.13-1.21,0.25-2.42,0.25s-2.28-0.5-3.09-1.26
		c-0.94-0.88-1.34-1.89-1.34-2.91c0-1.52,0.4-2.53,1.21-3.29c0.67-0.76,1.75-1.01,3.36-1.01
		C202.12,445.85,203.6,446.61,204.68,448.12z M203.6,400.61c0.67,0.63,1.07,1.64,1.07,3.16c0,1.39-0.4,2.4-1.07,3.16
		c-0.81,0.63-1.88,1.01-3.36,1.01c-1.61,0-2.69-0.38-3.36-1.01c-0.81-0.76-1.07-1.77-1.07-3.16c0-1.52,0.27-2.53,1.07-3.16
		c0.67-0.76,1.75-1.01,3.36-1.01C201.72,399.6,202.8,399.86,203.6,400.61z"/>
</g>
<g>
	<path class="st0" d="M711.59,62.1v3.03h-67.85V62.1H711.59z M711.59,87.62v3.03h-67.85v-3.03H711.59z"/>
</g>
<g>
	<path class="st0" d="M887.18,991.29v3.03h-67.85v-3.03H887.18z M887.18,1016.82v3.03h-67.85v-3.03H887.18z"/>
</g>
<g>
	<path class="st0" d="M481.83,214.01c-5.24,7.83-9.41,16.68-12.63,26.28c-3.9,11.25-5.78,22.11-5.78,32.73
		c0,10.49,1.88,21.35,5.78,32.73c3.22,9.6,7.39,18.32,12.63,26.28h-3.76c-5.11-8.09-9.14-16.81-12.36-26.28
		c-3.76-11.37-5.51-22.24-5.51-32.73c0-10.61,1.75-21.48,5.51-32.73c3.22-9.6,7.26-18.32,12.36-26.28H481.83z"/>
	<path class="st0" d="M553.44,214.01c4.97,7.96,9.14,16.68,12.36,26.28c3.63,11.25,5.51,22.11,5.51,32.73
		c0,10.49-1.88,21.35-5.51,32.73c-3.22,9.48-7.39,18.2-12.36,26.28h-3.76c5.11-7.96,9.4-16.68,12.63-26.28
		c3.76-11.37,5.78-22.24,5.78-32.73c0-10.61-2.02-21.48-5.78-32.73c-3.22-9.6-7.52-18.45-12.63-26.28H553.44z"/>
	<path class="st0" d="M702.16,271.51v3.03h-67.85v-3.03H702.16z M702.16,297.03v3.03h-67.85v-3.03H702.16z"/>
	<path class="st0" d="M783.44,284.02v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L783.44,284.02z"/>
	<path class="st0" d="M874.66,214.01v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29V271
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97V228.8c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H874.66z"/>
	<path class="st0" d="M936.18,214.01c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.32,3.92-10.61,3.92h-6.85V329h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53V228.8c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H936.18z"/>
</g>
<g>
	<path class="st0" d="M392.83,561.01c-5.24,7.83-9.41,16.68-12.63,26.28c-3.9,11.25-5.78,22.11-5.78,32.73
		c0,10.49,1.88,21.36,5.78,32.73c3.22,9.6,7.39,18.32,12.63,26.28h-3.76c-5.11-8.09-9.14-16.81-12.36-26.28
		c-3.76-11.37-5.51-22.24-5.51-32.73c0-10.61,1.75-21.48,5.51-32.73c3.22-9.6,7.26-18.32,12.36-26.28H392.83z"/>
	<path class="st0" d="M464.44,561.01c4.97,7.96,9.14,16.68,12.36,26.28c3.63,11.25,5.51,22.11,5.51,32.73
		c0,10.49-1.88,21.36-5.51,32.73c-3.22,9.48-7.39,18.2-12.36,26.28h-3.76c5.11-7.96,9.4-16.68,12.63-26.28
		c3.76-11.37,5.78-22.24,5.78-32.73c0-10.61-2.02-21.48-5.78-32.73c-3.22-9.6-7.52-18.45-12.63-26.28H464.44z"/>
	<path class="st0" d="M613.16,618.51v3.03h-67.85v-3.03H613.16z M613.16,644.03v3.03h-67.85v-3.03H613.16z"/>
	<path class="st0" d="M694.44,631.02v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L694.44,631.02z"/>
	<path class="st0" d="M785.66,561.01v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29V618
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97V575.8c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H785.66z"/>
	<path class="st0" d="M847.18,561.01c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.32,3.92-10.61,3.92h-6.85V676h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53V575.8c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H847.18z"/>
</g>
<g>
	<path class="st0" d="M1658.01,152.71c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91c-0.81,0.76-1.88,1.26-3.09,1.26
		c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91c0.81-0.88,1.75-1.26,3.09-1.26
		C1656.13,151.44,1657.21,151.82,1658.01,152.71z M1658.01,198.95c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91
		c-0.81,0.76-1.88,1.26-3.09,1.26c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91
		c0.81-0.88,1.75-1.26,3.09-1.26C1656.13,197.69,1657.21,198.07,1658.01,198.95z"/>
</g>
<g>
	<path class="st0" d="M1359.01,568.71c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91c-0.81,0.76-1.88,1.26-3.09,1.26
		c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91c0.81-0.88,1.75-1.26,3.09-1.26
		C1357.13,567.44,1358.21,567.82,1359.01,568.71z M1359.01,614.95c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91
		c-0.81,0.76-1.88,1.26-3.09,1.26c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91
		c0.81-0.88,1.75-1.26,3.09-1.26C1357.13,613.69,1358.21,614.07,1359.01,614.95z"/>
</g>
<g>
	<path class="st0" d="M727.01,426.71c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91s-1.88,1.26-3.09,1.26
		c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91c0.81-0.88,1.75-1.26,3.09-1.26
		C725.13,425.44,726.21,425.82,727.01,426.71z M727.01,472.95c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91
		s-1.88,1.26-3.09,1.26c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91
		c0.81-0.88,1.75-1.26,3.09-1.26C725.13,471.69,726.21,472.07,727.01,472.95z"/>
</g>
<g>
	<path class="st0" d="M1146.28,299.41v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97V314.2c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H1146.28z"/>
	<path class="st0" d="M1191.02,299.41v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97V314.2c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H1191.02z"/>
	<path class="st0" d="M1252.54,299.41c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.01,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53V314.2c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1252.54z"/>
	<path class="st0" d="M1297.28,299.41c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.01,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53V314.2c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1297.28z"/>
</g>
<g>
	<path class="st0" d="M1582.28,570.41v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.7c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		s-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04c4.97,0,8.46-1.14,10.61-3.29
		c1.75-1.9,2.69-4.93,2.69-8.97V585.2c0-4.67,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92H1582.28z"/>
	<path class="st0" d="M1627.02,570.41v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.7c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		s-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04c4.97,0,8.46-1.14,10.61-3.29
		c1.75-1.9,2.69-4.93,2.69-8.97V585.2c0-4.67,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92H1627.02z"/>
	<path class="st0" d="M1688.54,570.41c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.01,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.7c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1688.54z"/>
	<path class="st0" d="M1733.28,570.41c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87v29.95c0,4.04,0.81,7.08,2.69,8.97
		c2.01,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53v-29.7c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H1733.28z"/>
</g>
<g>
	<path class="st0" d="M2043.33,752.29v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L2043.33,752.29z"/>
</g>
<g>
	<path class="st0" d="M2079.33,74.29v3.54l-67.85,30.07v-3.41l64.22-28.43l-64.22-28.43v-3.41L2079.33,74.29z"/>
</g>
<g>
	<path class="st0" d="M382.84,177.29h-87.67V134h224.12v43.29h-87.67v277.08h-48.78V177.29z"/>
	<path class="st0" d="M766.71,314.4H639.92v139.97h-48.56V134h48.56v137.33h126.78V134h48.56v320.36h-48.56V314.4z"/>
	<path class="st0" d="M1084.88,382.73H963.37l-24.61,71.63h-51.42L1003.8,134h40.65l116.46,320.36h-51.2L1084.88,382.73z
		 M1071.04,339.67l-46.36-139.97h-0.88l-46.36,139.97H1071.04z"/>
	<path class="st0" d="M1232.98,134h45.7l145.02,227.64h0.88V134h48.56v320.36h-45.92l-144.8-227.64h-0.88v227.64h-48.56V134z"/>
	<path class="st0" d="M1578.62,134h48.56v165.01h0.88L1759.89,134h57.57l-102.61,126.34l113.38,194.02h-57.57l-87.23-156.67
		l-56.25,59.11v97.56h-48.56V134z"/>
	<path class="st0" d="M675.75,862.53L579.29,674h51.42l67.9,142.16L766.49,674h51.42l-96.46,188.53v131.84h-45.7V862.53z"/>
	<path class="st0" d="M860.54,834.18c0-37.21,1.1-62.11,3.3-74.71c2.34-12.6,5.93-22.78,10.77-30.54
		c7.76-14.79,20.21-27.98,37.35-39.55c16.84-11.72,37.87-17.72,63.06-18.02c25.49,0.29,46.73,6.3,63.72,18.02
		c16.84,11.57,29,24.76,36.47,39.55c5.42,7.77,9.15,17.95,11.21,30.54c1.9,12.6,2.86,37.5,2.86,74.71c0,36.62-0.95,61.38-2.86,74.27
		c-2.05,12.89-5.79,23.22-11.21,30.98c-7.47,14.8-19.63,27.83-36.47,39.11c-16.99,11.72-38.23,17.87-63.72,18.46
		c-25.2-0.59-46.22-6.74-63.06-18.46c-17.14-11.28-29.59-24.31-37.35-39.11c-2.34-4.83-4.47-9.45-6.37-13.84
		c-1.76-4.54-3.22-10.25-4.39-17.14C861.64,895.56,860.54,870.8,860.54,834.18z M909.32,834.18c0,31.5,1.17,52.81,3.52,63.94
		c2.05,11.13,6.22,20.14,12.52,27.03c5.13,6.59,11.87,11.94,20.21,16.04c8.2,4.83,18.02,7.25,29.44,7.25
		c11.57,0,21.61-2.42,30.1-7.25c8.05-4.1,14.5-9.45,19.34-16.04c6.3-6.88,10.62-15.89,12.96-27.03c2.2-11.13,3.3-32.44,3.3-63.94
		c0-31.49-1.1-52.95-3.3-64.38c-2.34-10.84-6.67-19.7-12.96-26.59c-4.83-6.59-11.28-12.08-19.34-16.48
		c-8.5-4.25-18.53-6.52-30.1-6.81c-11.43,0.3-21.24,2.56-29.44,6.81c-8.35,4.39-15.09,9.89-20.21,16.48
		c-6.3,6.89-10.47,15.75-12.52,26.59C910.49,781.23,909.32,802.69,909.32,834.18z"/>
	<path class="st0" d="M1177.84,674h48.56v206.54c0.29,21.83,6.59,38.45,18.9,49.88c12.01,12.01,27.47,18.02,46.36,18.02
		s34.5-6,46.8-18.02c12.01-11.43,18.16-28.05,18.46-49.88V674h48.56v211.82c-0.59,33.69-11.5,60.42-32.74,80.2
		c-21.39,20.36-48.42,30.69-81.08,30.98c-32.08-0.29-58.89-10.62-80.42-30.98c-21.97-19.78-33.11-46.51-33.4-80.2V674z"/>
</g>
<g>
	<path class="st0" d="M59.77,33.07v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97V47.85c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H59.77z"/>
	<path class="st0" d="M104.5,33.07v3.03h-6.85c-7.66,0-11.42,3.92-11.42,11.75v29.69c0,7.08-3.22,12-9.67,14.53
		c6.45,2.53,9.67,7.33,9.67,14.53v29.82c0,7.71,3.76,11.62,11.42,11.62h6.85v3.03h-6.85c-4.43,0-7.93-1.39-10.61-3.92
		c-2.69-2.53-4.03-6.19-4.03-10.74v-29.95c0-4.17-0.94-7.2-2.69-9.1c-2.15-2.27-5.64-3.29-10.61-3.29v-4.04
		c4.97,0,8.46-1.14,10.61-3.29c1.75-1.9,2.69-4.93,2.69-8.97V47.85c0-4.68,1.34-8.34,4.03-10.87c2.69-2.65,6.18-3.92,10.61-3.92
		H104.5z"/>
	<path class="st0" d="M166.03,33.07c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87V77.8c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53V47.85c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H166.03z"/>
	<path class="st0" d="M210.77,33.07c4.3,0,7.93,1.26,10.61,3.92c2.69,2.53,4.03,6.19,4.03,10.87V77.8c0,4.04,0.81,7.08,2.69,8.97
		c2.02,2.15,5.51,3.29,10.61,3.29v4.04c-5.11,0-8.6,1.01-10.48,3.03s-2.82,5.18-2.82,9.35v29.95c0,4.55-1.34,8.21-4.03,10.74
		c-2.69,2.53-6.31,3.92-10.61,3.92h-6.85v-3.03h6.85c7.52,0,11.42-3.92,11.42-11.62v-29.82c0-7.2,3.22-12,9.67-14.53
		c-6.45-2.53-9.67-7.46-9.67-14.53V47.85c0-7.83-3.9-11.75-11.42-11.75h-6.85v-3.03H210.77z"/>
</g>
<g>
	<path class="st0" d="M263.42,756.98c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91c-0.81,0.76-1.88,1.26-3.09,1.26
		c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91c0.81-0.88,1.75-1.26,3.09-1.26
		C261.54,755.71,262.62,756.09,263.42,756.98z M263.42,803.23c0.81,0.76,1.34,1.64,1.34,2.91c0,1.14-0.54,2.15-1.34,2.91
		c-0.81,0.76-1.88,1.26-3.09,1.26c-1.34,0-2.28-0.51-3.09-1.26c-0.94-0.76-1.34-1.77-1.34-2.91c0-1.26,0.4-2.15,1.34-2.91
		c0.81-0.88,1.75-1.26,3.09-1.26C261.54,801.96,262.62,802.34,263.42,803.23z"/>
</g>
<g>
	<path class="st0" d="M434.64,809.89l-64.22,28.43l64.22,28.43v3.41l-67.85-30.07v-3.54l67.85-30.07V809.89z"/>
</g>
<g>
	<path class="st0" d="M1871.51,739.95v3.03h-67.85v-3.03H1871.51z M1871.51,765.47v3.03h-67.85v-3.03H1871.51z"/>
</g>

</svg>

    <a href="/">BACK</a>
</section>
