* {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*        -------     MAIN      --------       */

#home {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
    background-color: white;
}

svg {
    position: absolute;
    top: 25%;
    left: 15%;
}

path {
    stroke: #d61d4e;
    fill: #fff;
    stroke-dasharray: 1000;
    opacity: 10;
    animation: animate 5s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1000;
    }
    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1000;
    }
    90% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 0.9);
        stroke-dashoffset: 0;
    }
}

.back {
    height: 100vh;
    transition: background-color 3s;
    background-color: white;
}

/*        -------     ABOUT      --------       */

.sticky {
    background-color: white;
    height: 100vh;
    width: 100%;
}

.wordbackgroundblack {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.1);
    font-size: 350px;
    position: absolute;
    font-weight: bolder;
    text-align: center;
    margin-left: 100px;
    margin-top: 150px;
}

#sp {
    height: 40%;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 28%;
    z-index: 1;
}

#berlin {
    height: 60%;
    width: 25%;
    position: absolute;
    top: 10%;
    left: 60%;
}

#about {
    width: 35%;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 8%;
    top: 20%;
    font-style: italic;
    text-align: center;
}

span {
    width: 100%;
    background-color: #d61d4e;
    display: block;
    height: 5px;
    margin-top: 20px;
}

/* -------------       SKILLS       ------------ */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.wordbackground {
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.2);
    font-size: 400px;
    position: absolute;
    font-weight: bolder;
}

.frontend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 1200px;
    margin-bottom: 100px;
}
.backend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 1200px;
    margin-top: 40px;
}

.bar {
    background-color: white;
    height: 100%;
    width: 50px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #d61d4e;
    font-size: 50px;
    margin-right: 90px;
    margin-top: 200px;
    font-weight: bolder;
}

.skillname {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    color: #efecec;
}

.line {
    width: 100%;
    background-color: #d61d4e;
    display: block;
    height: 5px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    width: 100px;
}

#barJS {
    height: 100px;
}
#barCSS {
    height: 100px;
}
#barjquery {
    height: 100px;
}
#barvue {
    height: 100px;
}
#barreact {
    height: 100px;
}
#barredux {
    height: 100px;
}
#baranime {
    height: 100px;
}
#barscroll {
    height: 100px;
}

/* -------------     PROJECTS     ------------ */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* -------------     PROJECTS / PRINCIPALS    ------------ */

.wordbackgroundproj {
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.3);
    font-size: 250px;
    position: relative;
    font-weight: bolder;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.principals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.principalscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 120px;
}

/* ---------     DESCRIPTION     ---------- */

.wrap-project {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    height: 500px;
    padding: 20px;
}

.aboutproject {
    background-color: yellow;
    height: 600px;
    width: 400px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    z-index: 100;
    border-radius: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    visibility: hidden;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    border: 2px white solid;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 320px;
    cursor: pointer;
}

#aboutsocialnetwork {
    top: 500%;
    margin-left: 65%;
}

#aboutimageboard {
    top: 590%;
    margin-left: 65%;
}

#aboutpetition {
    top: 690%;
    margin-left: 65%;
}

.tta {
    font-size: 25px;
    font-weight: bolder;
    color: #d61d4e;
    margin-top: 40px;
}

.technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
}

.part {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

i {
    margin-left: 10px;
}

.principalsimage {
    border-radius: 5px;
    height: 100%;
    width: 60%;
    opacity: 0.2;
    transition: 0.8s ease;
    cursor: pointer;
    z-index: 2;
}

.projecttitle {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    left: 10%;
    z-index: 1000;
    opacity: 1;
}

#petition {
    margin-left: 90px;
}

/* -----------      MORE PROJECTS     ----------- */

#pjct {
    height: 1800px;
}

.wordbackgroundmore {
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.3);
    font-size: 200px;
    position: relative;
    font-weight: bolder;
    text-align: center;
    z-index: 2;
    margin-top: 200px;
    margin-bottom: 200px;
}

.imgproject {
    border-radius: 10px;
    height: 300px;
    width: 450px;
    margin: 10px;
    position: absolute;
    opacity: 0.2;
    transition: 0.8s ease;
    cursor: pointer;
}

#authors {
    margin-left: 3%;
}

#conectfour {
    margin-left: 30%;
    margin-top: 10%;
    width: 450px;
}

#spotify {
    margin-left: 8%;
    margin-top: 30%;
    width: 450px;
}

#resizablepanes {
    margin-left: 60%;
    margin-top: 0%;
    width: 450px;
}

#localstorage {
    margin-left: 68%;
    margin-top: 25%;
    width: 450px;
}

#githubapi {
    margin-left: 40%;
    margin-top: 35%;
    width: 450px;
}

#jsonvalidator {
    margin-left: 58%;
    margin-top: 54%;
    width: 450px;
}

#incrementalsearch {
    margin-left: 2%;
    margin-top: 50%;
    width: 450px;
}
/* ------------    CONTACT      ---------- */
.ctct {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100%;
}

.wordbackgroundcont {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.1);
    font-size: 290px;
    position: absolute;
    font-weight: 600;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

input {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
}

textarea {
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-color: transparent;
}

.iconimg {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
}

#myinfo {
    margin-top: 420px;
    margin-right: 200px;
}

a {
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 20px;
}
