* {
    margin: 0;
    font-family: monospace;
    overflow: hidden;
}

#menulogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 30px;
    border: 3px white solid;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 90%;
    background-color: rgba(255, 255, 255, 0.4);
}

.hamburger {
    margin: 2px;
    height: 3px;
    width: 25px;
    border-radius: 5px;
    border: 2px white solid;
}

section {
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.back {
    height: 100vh;
    transition: background-color 3s;
    background-color: white;
}

.title {
    font-size: 60px;
    font-family: sans-serif;
    position: absolute;
    top: 40%;
    left: 12%;
    opacity: 0;
    z-index: 2;
}

#svg {
    height: 200px;
    width: 500px;
    top: 50%;
    left: 5%;
    position: absolute;
    z-index: 23;
}

path {
    stroke: black;
    fill: #fff;
    stroke-dasharray: 600;
    opacity: 10;
    animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 600;
    }
    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 600;
    }
    90% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 0.9);
        stroke-dashoffset: 0;
    }
}
